body, html {
    height: 100%;
    margin: 0;
}

#navigator {
    background-color: rgb(42, 42, 42);
}

#navigator ul li {
    list-style: none;
}

#navigator ul li a {
    display: inline-block;
    background-color: green;
    padding: 15px 32px;
    border-radius: 5px;
}

p, h1, h2, a {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-image: url('./resources/matt-palmer-K5KmnZHv1Pg-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transition: 500ms;
}

main {
    margin: 30px;
}
#card1 {grid-area: c1;}
#card2 {grid-area: c2;}
#card3 {grid-area: c3;}

@media(min-width: 1350px) {
    #cardscontainer{
        display: grid;
        grid-template-columns: auto repeat(3, 400px) auto;
        column-gap: 30px;
        grid-template-areas:
            ". c1 c2 c3 .";
        text-align: center;
    }
}

@media(max-width: 1350px) {
    #cardscontainer{
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas:
            ". c1 ."
            ". c2 ."
            ". c3 .";
    }
}

.card {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    height: 500px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#maincontents {
    padding-top: 33vh;
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#maincontents p, h1, h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

#maincontents h1 {
    font-size: 3em;
}

#maincontents a:visited, a:link, a:active {
    color:white;
}

#maincontents a:hover {
    color:rgb(170, 170, 170);
    transition: color .5s;
}
